.box {
  background-color: #212529;
  padding: 10px;
    border-radius: 20px !important;
}

h2 {
  font-family: "ChettaVissto";
  color: white;
}

.maincard {
  border: 1px solid white;
  height: 100%;
  background-color: #2c2f33;
  padding: 20px;
   border-radius: 20px !important;

}

.imagecontainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}


.imagecontainer img {
  max-width: 100%;
  
  object-fit: contain;
  border-radius: 8px;
}
.cardstyle{
    background-color: rgba(0, 0, 0, 0.5);
}
