.ImageContainer{
    width:100%;
    height:120px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.ImageContainer img{
    width:100%;
    height:100%;
    object-fit: contain;
    border-radius: 6px;
}
.titleStyle{
     color: #111;                
      font-weight: 500;
     transition: color 0.2s ease;
}
.titleStyle:hover{
    color:#ff9900;
}
.quantityValue {
  display: inline-block;
  width: 40px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  color: #222;
}
.quantityBtn {
  width: 32px;
  height: 32px;
  line-height: 1;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  border:1px solid black;
  transition: all 0.2s ease;
}

.quantityBtn:hover {
  color:black;
  
}