.box{
      font-family:monospace;
  font-weight: 300;
  font-style: normal;}
.cardbody{
    width:100%;
    height:190px;
    background-color: #e0e5e9;
    display:flex;
    align-items:center;
    justify-content: center;
    transition:all 0.3s ease;
}
h2{
    font-family: "ChettaVissto";
  font-weight: 400;
  font-style: normal;
}
.customicons{
    background-color:#004f87 !important;
    color:white !important;
    border-radius:30px !important;
}
.cardbody:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

