.bannerWrap{
  background: url("../../images/banner3.jpg") center/cover no-repeat;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width:576px){
    .bannerWrap{
        background-size: cover;
        height:30vh;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .bannerWrap {
    background-size: cover;
    height: 40vh;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .bannerWrap {
    background-size: cover;
    height: 50vh;
  }
}
.customFont h2{
    color:black !important;
}
.offerImg{
    width: 100%;
  height: 250px;
  object-fit: contain;
}
.offercard{
    transition: all 0.3s ease;
}
.offercard:hover{
    transform: translateY(-3px) !important;
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

}
