.imageContainer{
    width:100%;
    height:180px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.imageContainer img{
    width:100%;
    height:100%;
    object-fit: contain;
    border-radius:6px;
}